<p id="notice"><%= notice %></p>

<h1>Listing Gatherings</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Start</th>
      <th>End</th>
      <th>Leader</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gatherings.each do |gathering| %>
      <tr>
        <td><%= gathering.location %></td>
        <td><%= gathering.start %></td>
        <td><%= gathering.end %></td>
        <td><%= gathering.leader %></td>
        <td><%= gathering.name %></td>
        <td><%= link_to 'Show', gathering %></td>
        <td><%= link_to 'Edit', edit_gathering_path(gathering) %></td>
        <td><%= link_to 'Destroy', gathering, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gathering', new_event_gathering_path(@event) %>
