<p id="notice"><%= notice %></p>

<h1>Listing Promises</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Person</th>
      <th>Registration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promises.each do |promise| %>
      <tr>
        <td><%= promise.item_id %></td>
        <td><%= promise.person_id %></td>
        <td><%= promise.registration_id %></td>
        <td><%= link_to 'Show', promise %></td>
        <td><%= link_to 'Edit', edit_promise_path(promise) %></td>
        <td><%= link_to 'Destroy', promise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promise', new_promise_path %>
